<script>
    function toggleMenu() {
        var menu = document.getElementById("menu");
        if (menu.style.display === "none") {
            menu.style.display = "block";
        } else {
            menu.style.display = "none";
        }
    }
</script>

<div id="menu"
    style="position: absolute; z-index: 1; background-color: #fff; display: none; border: 1px solid #555; padding: 25px; top: 20%; left: 30%;">
    <form action="/albums/<%= user.uid%>" method="post">
        <label for="albumname">Album Name</label>
        <input type="text" id="albumname" name="albumname">
        <button type="submit">Create Album</button>
    </form>
</div>

<div>
    <a href="/">Homepage</a>

    <div>

        <div>
            <h1>Albums of <%= user.fname + " " + user.lname%>
            </h1>
            <% if (user.uid==localuid) { %>
                <button onclick="toggleMenu()">Create Album</button>
                <% } %>
        </div>

        <div id="album-list">
            <% albums.forEach(function(row) { %>
                <div style="display: flex; flex-direction: row;">
                    <a href="/albums/<%= user.uid%>/<%= row.aid%>">
                        <%= row.albumname %>
                    </a>
                </div>
                <% }); %>
        </div>
    </div>
</div>