<!DOCTYPE html>
<html>

<head>
    <title>CSE412 Group Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Homepage</h1>
    <div id="topbar" style="display: flex; flex-direction: row; align-items: center; column-gap: 10px;">
        <form action="/logout" method="get">
            <button type="submit">Log Out</button>
        </form>

        <h4>Logged in as <%= name%>!</h4>

        <a href="/friendsearch">Search for Friend</a>

        <a href="/profile/<%= uid %>">Profile</a>

        <a href="/albums/<%= uid %>">Albums</a>

        <a href="/account">Account</a>

        <a href="/populartags">Popular Tags</a>

        <a href="/topcontributers">Top Contributers</a>

        <a href="/photosearch">Photo Search</a>

        <a href="/searchcomment">Search on Comments</a>
    </div>

    <div id="photo-browse">
        <% photos.forEach(function(photo) { %>
            <div
                style="display: flex; flex-direction: column; padding: 5px; border: 2px solid; width: 300px; height: 300px;">
                <a href="/profile/<%= photo.uid%>">
                    <%= photo.fname + " " + photo.lname%>
                </a>
                <a href="/photo/<%= photo.pid%>">
                    <img src="<%= photo.photourl%>" style="max-width: 80%; height: auto;">
                </a>
                <span>
                    <%= photo.caption%>
                </span>
            </div>
            <% }); %>
    </div>


</body>

</html>