<a href="/">Homepage</a>
<h1>Photo Search</h1>

<div>
    <div style="display: flex; flex-direction: row;">
        <form action="/photosearch/user" method="get">
            <button type="submit">View my photos</button>
        </form>
        <form action="/photosearch" method="get">
            <button type="submit">View all photos</button>
        </form>
    </div>

    <form action='/photosearch<%=url%>' method="post">
        <div>
            <label for="tags">Tags:</label>
            <input type="text" id="tags" name="tags" onkeyup="this.value=this.value.toLowerCase();">
        </div>

        <button type="submit">Search</button>
    </form>
</div>

<div>
    <% photos.forEach(function(photo) { %>
        <div
            style="display: flex; flex-direction: column; padding: 5px; border: 2px solid; width: auto; height: auto;">
            <a href="/profile/<%= photo.uid%>">
                <%= photo.fname + " " + photo.lname%>
            </a>
            <a href="/photo/<%= photo.pid%>">
                <img src="<%= photo.photourl%>" style="max-width: 250px; max-height: 250px;">
            </a>
            <br>
            <span>
                <%= photo.caption%>
            </span>
        </div>
        <% }); %>
</div>