<a href="/">Homepage</a>

<div style="display: flex; flex-direction: column;">
    <a href="/profile/<%= photo.uid%>">
        <%= photo.fname + " " + photo.lname%>
    </a>
    <%if(uid == photo.uid) {%>
        <div>
            <form action="/photo/<%=photo.pid%>/delete" method="post">
                <button type="submit">Delete Photo</button>
            </form>
        </div>
    <%}%>
    <img src="<%= photo.photourl %>" style="max-width: 300px;">
    <span>Caption: <%= photo.caption %></span>
</div>

<br>

<div id="tags">
    <span>Tags: </span>
    <% tags.forEach(function(tag) { %>
        <a href="/tag/<%=tag.text%>"><%=tag.text%></a>
    <% }); %>
    <%if(uid == photo.uid) {%>
        <form action="/photo/<%=photo.pid%>/addtag" method="post">
            <input type="text" id="tag" name="tag" onkeyup="this.value=this.value.toLowerCase().replace(/ /g,'');">
            <button type="submit">Add Tag</button>
        </form>
    <%}%>
</div>

<br>

<div id="likes">
    <form action="/photo/<%=photo.pid%>/like" method="post">
        <button type="submit">Like</button>
    </form>
    <span>Like Count: <%=likes.length%></span>
    <div>
        <div>
            <span>Liked By:</span>
        </div>
        <% likes.forEach(function(like) { %>
            <div>
                <a href="/profile/<%=like.uid%>"><%=like.fname + " " + like.lname%></a>
            </div>
            <% }); %>
    </div>
</div>

<br>

<form action="/comment" method="post">
    <input type="hidden" name="pid" value="<%= photo.pid %>">
    <input type="hidden" name="uid" value="<%= uid %>">
    <label for="comment">Comment: </label>
    <input type="text" id="comment" name="comment" required>
    <button type="submit">Comment</button>
</form>

<div id="comments">
    <% comments.forEach(function(comment) { %>
        <div>
            <span><%=comment.date + " " + comment.fname + " " + comment.lname + ": " + comment.text%></span>
        </div>
        <% }); %>
</div>