<div>
    <h1>Profile of <%= user.fname + " " + user.lname%>
    </h1>
    <a href="/">Homepage</a>
    <a href="/friendlist/<%= user.uid %>">Friends List</a>
    <div style="display: flex; flex-direction: column;">
        <label>First Name: <%= user.fname%></label>
        <label>Last Name: <%= user.fname%></label>
        <label>Gender: <%= user.fname%></label>
        <label>Date Of Birth: <%= user.fname%></label>
        <label>Hometown: <%= user.fname%></label>
    </div>
</div>